services:
{%- for scope, scopeDetails in scopes.items() %}
  ## {{ scope }}
  {%- for name, details in scopeDetails.items() %}
  {{ name }}:
    image: {{ global.imageNamePrefix }}app-simulator-{{ scope }}-{{ details.type }}:{{global.imageVersion }}
    {%- if details.port is defined %}
    ports:
      - "{{ details.port }}:{{ global.defaultPorts[scope] }}"
    {%- endif %}
    {%- if global.defaultPorts is defined -%}
    {%- if global.defaultPorts[scope] is defined and global.defaultPorts[scope] != global._defaultDefaultPorts[scope] %}
    environment:
      - {{ scope | singularize | upper }}_DEFAULT_PORT={{ global.defaultPorts[scope] }}
    {%- endif %}
    {%- if global.defaultPorts[scope] <= 1024 %}
    cap_add:
      - NET_BIND_SERVICE
    {%- endif %}
    {%- endif %}
    configs:
      - source: {{ scope }}_{{ name | replace("-", "_") | lower }}_config
        target: /config.json
  {%- endfor %}
{%- endfor %}
configs:
{%- for scope, scopeDetails in scopes.items() %}
{%- for name, details in scopeDetails.items() %}
  {{ scope }}_{{ name | replace("-", "_") | lower }}_config:
    content: |
      {{ details | tojson }}
{%- endfor -%}
{%- endfor %}