{%- if exposedPort %}
apiVersion: v1
kind: Service
metadata:
  name: {{ serviceName }}-ext
{%- if serviceAnnotations %}
  annotations:
{%- for k,v in serviceAnnotations.items() %}   
    {{ k }}: {{v}}
{% endfor %}   
{% endif %}
spec:
  selector:
    app: {{ appName|default('AppSimulatorApp') }}
    service: {{ serviceName }}
  ports:
    - protocol: TCP
      targetPort: {{ servicePort|default('8080') }}
      port: {{ exposedPort }}
  type: LoadBalancer
{% else %}
apiVersion: v1
kind: Service
metadata:
  name: {{ serviceName }}
{%- if serviceAnnotations %}
  annotations:
{%- for k,v in serviceAnnotations.items() %}   
    {{ k }}: {{v}}
{% endfor %}   
{% endif %}
spec:
  selector:
    app: {{ appName|default('AppSimulatorApp') }}
    service: {{ serviceName }}
  ports:
    - protocol: TCP
      targetPort: {{ servicePort|default('8080') }}
      port: 80
  type: ClusterIP
{% endif %}